/* ======================================================
   OEFENEN MET FLEXBOX
========================================================= */
*{
    margin: 0;
    padding: 0;
}
.one{
    display: flex;
    flex-basis: 100%;
    flex-direction: column;
    justify-content: flex-end;
    margin: 20px
}

.two{
    display: flex;
    margin: 20px
}

.edhub {
    margin-left: auto;
}

.three{
    display: flex;
    justify-content: flex-start;
}

ul {
    display: flex;
    align-items: stretch; /* Default */
    justify-content: space-between;
    width: 500px;
    margin: 0;
    margin-left: 50px;
    padding: 0;
}
li {
    display: block;
    flex: 0 1 auto; /* Default */
    list-style-type: none;
}

.four{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    flex-direction: column;
}

.five{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding:10px;
}
/*hoi martijn, bedankt voor het nakijken*/
article{
    justify-content: space-evenly;
    flex-direction: row;
    flex-basis: 30%;
    margin: 0;
}