/* ======================================================
   OEFENEN MET FLEXBOX
========================================================= */

.one{
    display: flex;
    flex-basis: 100%;
    flex-direction: column;
    justify-content: flex-end;
}

.two{
    display: flex;
}

.edhub {
    margin-left: auto;
}

.three{
    display: flex;
    justify-content: flex-start;
}

ul {
    display: flex;
    align-items: stretch; /* Default */
    justify-content: space-between;
    width: 500px;
    margin: 0;
    margin-left: 50px;
    padding: 0;
}
li {
    display: block;
    flex: 0 1 auto; /* Default */
    list-style-type: none;
}